Figs/
*.aux
*.bbl
*.blg
*.log
*.out
*.pdf
copy_from_bitbucket.sh
Data/*.csv
Data/*.rds
RawData/*.fst
R/diag_cache/
LaTeX/mpp_diag.tex
Data/*.json
R/diag_cache
RawData/*.gz
Data/MM
R/*.html
RawData/Jackson*.txt
